fastapi==0.110.0
uvicorn==0.27.1
pydantic==2.6.3
python-multipart==0.0.9
ultralytics==8.1.24
opencv-python-headless==4.9.0.80
python-dotenv==1.0.1
pydantic-settings==2.2.1
paddlepaddle==2.6.2
paddleocr==2.9.1
insightface==0.7.3
onnxruntime==1.17.1
